name: Generate Shark Animation

on:
  # Her 24 saatte bir otomatik çalışır
  schedule:
    - cron: "0 */24 * * *" 
  
  # Manuel çalıştırabilmenizi sağlar
  workflow_dispatch:
  
  # Main branch'e her push yapıldığında çalışır
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # GitHub katkı grafiklerini köpekbalığı animasyonuna dönüştürür
      - name: generate-github-contribution-grid-snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: canersinan00
          outputs: |
            dist/shark.svg?color_snake=#00D1FF&color_dots=#bfd6f6,#8dbdff,#64a1ff,#4b91ff,#217aff
            
      # Oluşturulan animasyonu 'output' branch'ine yükler
      - name: push github-contribution-grid-snake to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
