name: Generate Shark Contribution Animation

on:
  schedule:
    - cron: "0 */12 * * *" # Her gün güncellenir
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: generate-shark-svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/shark.svg?color_snake=#0077be&color_dots=#ebedf0,#9be9a8,#40c463,#30a14e,#216e39&snake_size=8
            
      - name: push-to-output-branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
